django==3.0.9
django-allauth==0.42
django-analytical==2.6.0
django-cors-headers==3.4.0
django-cors-middleware==1.5
django-countries==6.1.2
django-exclusivebooleanfield==0.3.0 # Not updated for Django 3
django-filter==2.3.0
django-jazzmin==2.2.6
django-lifecycle==0.7.7
django-timezone-field==4.0
djangorestframework==3.11.1
drf-extensions==0.6.0
humanize
pendulum==2.1.2
Pillow
psycopg2-binary
Pygments
python-dateutil==2.8.1
pyyaml
requests
uritemplate
