{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}
{% block section_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
<div>
  <div>
    <h2>{% trans "Account Inactive" %}</h2>
  </div>
  <div>
    {% trans "This account is inactive. Please contact us on Discord, Twitter or via Email to reactivate your account." %}
  </div>
  <div>
    <a href="https://discord.trainerdex.co.uk/">
      {% trans 'Discord Server' %}
    </a>
    <a href="https://twitter.com/TrainerDexApp">
      {% trans '@TrainerDexApp on Twitter' %}
    </a>
  </div>
</div>
{% endblock %}
