{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block section_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
{% block warning %}
{% endblock %}
<div>
  <div>
    <h2>{% trans "Sign In" %}</h2>
  </div>
  <form class="login" method="POST" action="{% url 'account_login' %}">
  <div>
    {% blocktrans %}If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
    <div id="form_login">
      {% csrf_token %}
        {% for hidden in form.hidden_fields %}
         {{ hidden }}
        {% endfor %}

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}


        {# Include the visible fields #}

        {% for field in form.visible_fields %}
          {% if field.field.widget.input_type == 'text' or field.field.widget.input_type == 'number' or field.field.widget.input_type == 'password' %}
            <div>
              {{ field}}
              <label for="{{field.id_for_label}}">{{field.label}}</label>
              {% for error in field.errors %}
                <span>{{error}}</span>
              {% endfor %}
            </div><br>
          {% elif field.field.widget.input_type == 'select'%}
            <div>
              {{ field }}
              <labelfor="{{field.id_for_label}}">{{field.label}}</label>
              {% for error in field.errors %}
                <span>{{error}}</span>
              {% endfor %}
            </div><br>
          {% elif field.field.widget.input_type == 'checkbox'%}
            <label for="{{field.id_for_label}}" >
              {{ field }}
              <span>{{field.label}}</span>
            </label><br>
          {% elif field.field.widget.input_type == 'file'%}
            <div>
              <input placeholder="{{field.label}}" type="text" id="text_{{field.id_for_label}}" readonly />
              {% for error in field.errors %}
                <span>{{error}}</span>
              {% endfor %}
              <div>
                <i class="material-icons">attach_file</i>
                <input type="file" name="{{field.html_name}}" id="{{field.id_for_label}}" onchange="document.getElementById('text_{{field.id_for_label}}').value=this.files[0].name;" />
              </div>
            </div><br>
          {% else %}
            {{field}}<br>
            {{field.errors}}<br>
          {% endif %}

        {% endfor %}
    </div>
  </div>
  <div>
    <button type="submit">{% trans "Sign In" %} &raquo;</button>
    <a href="{% url 'account_reset_password' %}">{% trans 'Forget/Reset Password' %}</a>
  </div>
  </form>
</div>
{% endblock %}
