{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}
{% block section_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div>
  <div>
    <h2>{% trans "Set Password" %}</h2>
  </div>
  <form method="POST" action="{% url 'account_set_password' %}">
  {% csrf_token %}
    <div>
      {% trans "Please set a password" %}
      <div id="form_password_reset">
        {% csrf_token %}
        {% render_field form.password1 %}<br>
        {% render_field form.password2 %}
      </div>
    </div>
    <div>
      <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </div>
  </form>
</div>
{% endblock %}
