{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block section_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div>
  <div>
    <h2>{% trans "Change Password" %}</h2>
  </div>
  <form method="POST" action="{% url 'account_change_password' %}">
    <div>
      <div id="form_password_change">
        {% csrf_token %}
        {% render_field form.oldpassword %}<br>
        {% render_field form.password1 %}<br>
        {% render_field form.password2 %}
      </div>
    </div>
    <div>
      <button type="submit" name="action">{% trans "Change Password" %}</button>
    </div>
  </form>
</div>
{% endblock %}
