{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block section_title %}{% trans "Signup" %}{% endblock %}


{% block content %}
<div>
  <div>
    <h2>{% trans "Register" %}</h2>
  </div>
  <form id="signup_form" method="post" action="{% url 'account_signup' %}">
    <div id="signup_form">
      {% csrf_token %}
      <span>{{ form.non_field_errors }}</span>
      {# Include the hidden fields #}
      {% for hidden in form.hidden_fields %}
       {{ hidden }}
      {% endfor %}
      {# Include the visible fields #}
      {% for field in form.visible_fields %}
      <div>
        {{ field }}
        <labelfor="{{field.id_for_label}}">{{field.label}}</label>
        {% for error in field.errors %}
          <span>{{error}}</span>
        {% endfor %}
      </div><br>
      {% endfor %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
    </div>
    <div>
      <buttontype="submit" name="action">{% trans "Register" %} &raquo;</button>
    </div>
  </form>
</div>
{% endblock %}
