{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}
{% block section_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div>
  <div>
    <h2>{% trans "Verify Your E-mail Address" %}</h2>
  </div>
  <div>
    {% url 'account_email' as email_url %}
    {% blocktrans %}This part of the site requires us to verify that you are who you claim to be. For this purpose, we require that you verify ownership of your e-mail address. {% endblocktrans %}<br>
    {% blocktrans %}We have sent an e-mail to you for verification. Please click on the link inside this e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
  </div>
  <div>
    <a href="{% url 'account_login' %}">
      {% trans 'Return to login page' %}
    </a>
    <a href="{{ email_url }}">
      {% trans 'Change your email' %}
    </a>
  </div>
</div>
{% endblock %}
